*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #077e2f;
    color: #fff;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 500px;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 26px ;
    border-radius: 5px;
}
.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: rgb(30, 33, 30);
    border-bottom: 4px solid rgb(231, 7, 7);
}

.display img{
    
    width: 30px;

    cursor: pointer;
}
.display input{
  border: 0;
  outline: 0;
  font-size: 24px;
}
.container button {
    border: 0;
    outline: 0;
    background: darkgreen;
    color: white;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}