*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.favicon{
    border-radius: 5px;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: rgb(203, 196, 196);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 500px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.todo-app .heading h2{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    background-color: #dfd7d7;
    padding-left: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.row input{
    flex: 1;
    border: none;
    outline: none;
    background: none;
    padding: 5px;
}
.row button{
    border: none;
    outline: none;
    padding: 16px 30px;
    background: rgb(78, 12, 12);
    color: #dfd7d7  ;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 20px;
    user-select: none;
    cursor: pointer;
    position: relative;
  
}
ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(./images/uncheck.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: -15px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
    
}
ul li.checked::before{
    background-image: url(./images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #dfd7d7;
}
